body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 420px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

#sentence {
    font-size: 18px;
    margin-bottom: 15px;
}

textarea {
    width: 95%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    outline: none;
    transition: 0.3s;
}

textarea:focus {
    border-color: #0072ff;
    box-shadow: 0 0 10px #0072ff;
}

.info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}